# CODEOWNERS
# Define responsáveis obrigatórios pela revisão das alterações.

# Por padrão, todo o projeto
* @Rodolpho-Pueyrredon

# Ambiente Nix
/flake.nix @kellyDMmendes
/flake.lock @kellyDMmendes
/nix/ @kellyDMmendes

# Agents
/.agents/skills @Rodolpho-Pueyrredon
/AGENTS.md @Rodolpho-Pueyrredon
